swagger: "2.0"

info:
  version: 0.0.1
  title:  service platform
  description: the first edtion API for service platform
  
schemes: 
  - https
host: www.muxier.top
basePath: /api

tags:
- name: "auth"
  description: 验证权限
- name: "main"
  description: 主界面
- name: "admin"
  description: 管理界面
- name: "user"
  description: 报修界面

paths:

  /signup/:
    post:
      tags:
      - "auth"
      summary: 用户注册
      description: 用户注册，不用验证邮箱
      parameters:
      - name: 用户注册信息
        in: body
        required: true
        schema:
          required:
            - username
            - password
            - email
          properties:
            username:
              type: string
            password:
              type: string
            email:
              type: string
      responses:
        201:
          description: 成功创建用户
          schema:
            required:
              - token
            properties:
              token:
                description: 用户登陆密钥
                type: string
        401:
          description: 用户名已存在
        500:
          description: 服务器端错误

  /login/:
    post:
      tags:
      - "auth"
      summary: 用户登陆
      description: 用户登陆，返回token
      parameters:
      - name: 用户登陆信息
        in: body
        schema:
          required:
            - username
            - password
          properties:
            username:
              type: string
            password:
              type: string
      responses:
        200:
          description: 登陆成功
          schema:
            required: 
              - token
            properties:
              token: 
                type: string
        401:
          description: 用户名或密码错误
        500:
          description: 服务器端错误

  /captcha/:
    post:
      tags:
      - "auth"
      summary: 获得验证码
      description: 通过邮箱验证获得修改密码的验证码
      parameters:
      - name: data
        in: body
        schema:
          required:
            - username
            - email
          properties:
            username:
              type: string
            email:
              type: string
      responses:
        200:
          description: 邮件成功发送
          schema:
            required: 
              - captcha
            properties:
              captcha:
                type: string
                description: 验证码
        404:
          description: 用户不存在，或邮箱错误
        500: 
          description: 服务器端错误

  /password/:
    put:
      tags:
      - "auth"
      summary: 修改密码
      description: 请求前应先请求/security_code/获取验证码
      parameters:
      - name: 重设密码
        in: body
        schema:
          required:
            - username
            - email
            - captcha
            - security_code
          properties:
            username: 
              type: string
            email:
              type: string
            captcha:
              type: string
            security_code:
              type: string
      responses:
        200:
          description: 成功修改密码
        401:
          description: 验证码错误
        500:
          description: 服务器端错误

  /main/:
    get:
      tags:
      - "main"
      summary: 首页面
      description: 待处理和已处理的消息各显示五条，其余的可以通过显示更多进行查看
      responses:
        200:
          description: 成功返回消息
          schema:
            type: array
            items:
              required:
                - id
                - title
                - time
                - status
              properties:
                id:
                  type: integer
                title:
                  type: string
                time:
                  type: string
                status:
                  type: integer
        500:
          description: 服务器端错误

  /main/unfinished/{pageNumber}/:
    get:
      tags:
      - "main"
      summary: 更多任务界面
      description: 显示更多的未完成任务信息
      parameters: 
        - in: path
          name: pageNumber
          description: 显示第几页的内容
          required: true
          type: integer
      responses:
        200:
          description: 成功返回消息
          schema:
            type: array
            items:
              required:
                - id
                - title
                - time
                - status
                - count
              properties:
                id:
                  type: integer
                title:
                  type: string
                time:
                  type: string
                status:
                  type: integer
                count:
                  description: 一共有多少条消息
                  type: integer
        500:
          description: 服务器端错误

  /main/finished/{pageNumber}/:
    get:
      tags:
      - "main"
      summary: 更多任务界面
      description: 显示更多已完成的任务信息
      parameters:
        - in: path
          name: pageNumber
          description: 显示第几页的内容
          required: true
          type: integer
      responses:
        200:
          description: 成功返回消息
          schema:
            type: array
            items:
              required:
                - id
                - title
                - time
                - status
                - count
              properties:
                id:
                  type: integer
                title:
                  type: string
                time:
                  type: string
                status:
                  type: integer
                count:
                  description: 一共有多少条消息
                  type: integer

  /main/detail/{id}/:
    get:
      tags:
      - "main"
      summary: 具体任务内容
      description: 展示每条任务的具体内容
      parameters:
        - in: path
          name: id
          description: 任务ID
          required: true
          type: integer
      responses:
        200: 
          description: OK
          schema:
            type: array
            items:
              required:
                - building
                - goods
                - cel
                - house_number
                - content
                - status
                - evaluate
            properties:
              building:
                type: string
              goods:
                type: string
              cel:
                type: string
              house_number:
                type: string
              content:
                type: string
              status: 
                type: integer
              evaluate:
                type: string
        500:
          description: 服务器端错误

  /host/{id}:
    get:
      tags:
      - "admin"
      summary: 用户个人信息界面
      description: 显示当前登陆用户的个人信息,以及有关消息
      parameters:
        - in: header
          name: token
          description: 表示登陆用户, 用户登录时返回的
          required: true
          type: string
        - in: path
          name: id
          description: 用户ID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              required:
                - evaluatenumber
                - finishednumber
                - unfinishednumber
              properties:
                evaluatenumber:
                  description: 评价数目
                  type: integer
                finishednumber:
                  description: 完成数目
                  type: integer
                unfinishednumber:
                  description: 未完成数目
                  type: integer
        401:
          description: 用户未登录
        500:
          description: 服务器端错误

  /host/finished/{pageNumber}/:
    get:
      tags:
      - "admin"
      summary: 显示该用户已维修的任务
      parameters:
        - in: path
          name: pageNumber
          description: 显示第几页的内容
          required: true
          type: integer
        - in: header
          name: token
          description: 表识用户身份
          required: true
          type: string
      responses:
        200:
          description: 成功返回消息
          schema:
            type: array
            items:
              required:
                - id
                - title
                - time
                - status
                - count
              properties:
                id:
                  type: integer
                title:
                  type: string
                time:
                  type: string
                status:
                  type: integer
                count:
                  description: 一共有多少条消息
                  type: integer

  /host/unfinished/{pageNumber}/:
    get:
      tags:
      - "admin"
      summary: 显示该用户等待维修的任务
      parameters:
        - in: path
          name: pageNumber
          description: 显示第几页的内容
          required: true
          type: integer
        - in: header
          name: token
          description: 表识用户身份
          required: true
          type: string
      responses:
        200:
          description: 成功返回消息
          schema:
            type: array
            items:
              required:
                - id
                - title
                - time
                - status
                - count
              properties:
                id:
                  type: integer
                title:
                  type: string
                time:
                  type: string
                status:
                  type: integer
                count:
                  description: 一共有多少条消息
                  type: integer

  /host/waitevaluate/{pageNumber}/:
    get:
      tags:
      - "admin"
      summary: 显示该用户未评价的任务
      parameters:
        - in: path
          name: pageNumber
          description: 显示第几页的内容
          required: true
          type: integer
        - in: header
          name: token
          description: 表识用户身份
          required: true
          type: string
      responses:
        200:
          description: 成功返回消息
          schema:
            type: array
            items:
              required:
                - id
                - title
                - time
                - status
                - count
              properties:
                id:
                  type: integer
                title:
                  type: string
                time:
                  type: string
                status:
                  type: integer
                count:
                  description: 一共有多少条消息
                  type: integer

  /host/detail/{id}/:
    get:
      tags:
      - "admin"
      summary: 具体任务内容
      description: 展示每条任务的具体内容,状态以及评价
      parameters:
        - in: path
          name: id
          description: 任务ID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              required:
                - building
                - goods
                - cel
                - house_number
                - content
                - status
                - evaluate
            properties:
              building:
                type: string
              goods:
                type: string
              cel:
                type: string
              house_number:
                type: string
              content:
                type: string
              status:
                type: integer
              evaluate:
                type: string
        500:
          description: 服务器端错误

  /user/application/:
    post:
      tags:
      - "user"
      summary: 报修界面
      description: 用户填写报修信息
      parameters:
      - name: message
        in: body
        description: 任务信息
        required: true
        schema:
          required:
            - author_id
            - building
            - goods
            - cel
            - house_number
            - content
          properties:
            author_id:
              type: integer
            building:
              type: string
            goods:
              type: string
            cel:
              type: string
            house_number:
              type: string
            content:
              type: string
      - name: token
        in: header
        description: 验证用户身份
        required: true
        type: string
      responses:
        201:
          description: 成功创建任务
        401:
          description: 用户未登录或者token出错
        500:
          description: 服务器端错误

  /user/evaluation/{id}/:
    post:
      tags:
      - "user"
      summary: 用户评价
      description: 用户只能评价自己发起的任务,所以该入口只能在用户待评价的消息中显示
      parameters:
      - name: id
        in: path
        description: 相关任务ID
        required: true
        type: integer
      - name: token
        in: header
        description: 验证用户身份
        required: true
        type: string
      - name: evaluation
        in: body
        description: 评价
        required: true
        schema:
          required:
            - evaluation
          properties:
            evaluation:
              type: string
      responses:
        201:
          description: 成功创建评价
        401:
          description: 用户未登录或者token出错
        500:
          description: 服务器端错误
definitions:
  Message:
    type: object
    required: 
      - id
      - author_id
      - title
      - time
      - status
      - building
      - goods
      - house_number
      - content
      - is_evaluate
      - evaluate
      - images
    properties:
      id:
        type: integer
        description: 消息ID
      author_id:
        description: 任务发起人
        type: integer
      title:
        description: 消息标题
        type: string
      time:
        description: 报修时间
        type: string
      status:
        description: 1.未处理    2.已处理
        type: integer
      building:
        description: 楼栋名（例：东十六）
        type: string
      goods:
        description: 维修物品
        type: string
      house_number:
        description: 门牌号
        type: string
      content:
        description: 具体问题描述
        type: string
      evaluate:
        description: 维修任务评价（任务发起人可以评价）
        type: string
      is_evaluate:
        description: 是否已经评价
        type: boolean
      images:
        description: 图片描述
        type: string
  User:
    type: object
    required:
      - id
      - username
      - email
      - password
      - avatar
      - tel
      - role
    properties:
      id:
        type: integer
        description: 用户ID
      avatar:
        type: string
        description: 用户头像
      tel:
        type: string
        description: 手机号
      username:
        type: integer
        description: 用户名
      email:
        type: string
        description: 用户联系方式
      role:
        type: integer
        description: 用户角色:1.普通用户 2.维修工 3.管理员 4.超级用户（对应登陆页面不显示给用户，我们通过相应API进入）